.loginPage{
    
    background: url(https://i.ibb.co/P1Q38KF/image-13.jpg), rgba(0, 0, 0, 0.727);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}