@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* font-family: 'Creepster', cursive; */
.nav-logo{
    font-family: 'Creepster', cursive;
}

.active{
   font-weight: bold;
   color: white;
   background-color: rgb(220, 43, 226);
}