.homeBanner{
    background: url(https://i.ibb.co/L6Sk1sJ/home-Banner.jpg),#0000008c;
    background-blend-mode: multiply;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}