.homeBanner{
    background: url(homeBanner.jpg),#00000082;
    background-blend-mode: multiply;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}