.homeBanner{
    background: url(https://i.ibb.co/XLytP7V/image-11.jpg),#0000008c;
    background-blend-mode: multiply;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}